    <!-- About Section -->
    <section id="about" class="container content-section text-center"  style="background-color: lightblue">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" >
              <br/><br/>
              <h2>Kuşları Ne Kadar Biliyoruz? </h2>
              <br/>
                <p>Kuşlar vücutları tüylerle örtülü, akciğer solunumu yapan, sıcakkanlı, yumurtlayan, gagalı, kanatlı omurgalı hayvanların ortak adı. ... Yaklaşık 10.000 civarında yaşayan türüyle en kalabalık tetrapod omurgalıları oluştururlar. Kuzey Kutbundan Güney Kutbuna dünya üzerindeki tüm ekosistemlerde yaşarlar. 
                <p>Bulunan fosillere göre kuşlar, yaklaşık 150-200 milyon yıl önce, Jura Devri'nde terapod dinozorlardan gelmektedir.<a href="https://www.turkcebilgi.com/jura_devri">Jura Devri</a></p>
                <p>Bilinen ilk kuş Jura Devri'nin sonlarında yaklaşık 155-150 milyon yıl önce yaşamış olan Archaeopteryx 'tir. <a href="https://www.youtube.com/watch?v=L19icQsAPws">İlk kuş dinozor archaeopteryx</a>.</p>
                <p>Omurgalıların oldukça kalabalık bir sınıfıdır.</p>
                <br/>
              </div>
        </div>
    </section>
