<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Anasayfa</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">Kuşlar Hakkında</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Türler</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://www.petburada.com/Blog/Kategori/kuslar-hakkinda-12">Diğer</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                Sayfamda sıkça yer verdiği muhabbet kuşları, papağanlarla aynı familya içerisinde yer alan ve son derece gösterişli kuşlardır. Papağanlar kadar büyük olmayan muhabbet kuşları hem boyutları hem de geniş renk ve desen seçenekleri ile sıklıkla evcil hayvan olarak tercih edilmektedirler. Papağanlar kadar olmasalar da muhabbet kuşları da taklit yoluyla konuşabilmektedirler. Muhabbet kuşlarının ana vatanı Avustralya'dır. <a href="https://www.kuslar.gen.tr/muhabbet-kuslari.html">devamı</a>
            </div>
        </div>
    </div>
</footer>
