<section id="services">
<!-- Page Content -->
<!-- {% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %} -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Muhabbet Kuşları</h2>
                    <div class="lead">Evde beslenen en popüler kuş türüdür. Yaygın olarak mavi ve yeşil renkleri bulunur. Sesleri papağanlara göre çok yüksek değildir. İlgilenildiği takdirde birçok kelimeyi söyleyebilen kuşlardır.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2  col-sm-6">
                    <img class="img-responsive" src="../img/budgie.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <!-- {% else %} -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Gri Papağan</h2>
                    <div class="lead"> Gri renkte olan gri papağanı akıllı ve hassas hayvanlardır. Oldukça sakin bir yapıya sahiplerdir. Satın alma ve bakma maliyeti sultan papağanına göre biraz daha fazladır.
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/parrot.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Amerika Papağanı</h2>
                    <div class="lead">  Kendi içerisinde türleri olan egzotik renge sahip papağanlardır. Sesleri yüksektir. Fakat çok gürültü yapmazlar. Oyun oynamayı çok seven bu papağanların konuşabilme yetenekleri de bulunmaktadır.
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2  col-sm-6">
                  <img class="img-responsive" src="img/macaw.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->



    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Albatros Kuşu</h2>
                    <div class="lead">Albatros kuşu, albatrosgiller familyasından olan ve diğer kuşlara nazaran çok daha geniş kanatlara sahip ve saatlerce deniz üzerinde uçabilen bir kuş türüdür. Albatros kuşu fiziksel olarak martıyı andırmaktadır. Ancak martıdan çok daha büyük, boynu daha uzun gagası daha büyüktür. Albatros kuşu genel olarak beyaz renklidir. Ancak sadece kanadı siyahtır. Albatros kuşunun nadir de olsa gri renkli ve kahve renkli olanları da bulunmaktadır.</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../img/albatros.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

<!-- 
    {% endif %}
{% endfor %} -->
</section>
